
/*Etusivun tyylit*/

.welcome-card  {
  margin-bottom: 3rem;
}

/* Gradientti ja yleiset tyylit */
.bg-light-gradient {
  background: linear-gradient(to right, #B2F1E6, #FFF3B0);
  padding: 2rem;
  border-radius: 1rem;
}

/* Painikkeiden hover-efekti */
.btn-primary {
  background-color: #FFF3B0; /* Light Yellow */
  border-color: #FFF3B0; /* Light Yellow */
  color: #333333; /* Dark Gray for text */
}
/* Painikkeiden hover-efekti */
.btn-primary:hover {
  background-color: #B2F1E6;
  border-color: #B2F1E6;
  color: #333333;
}
.btn-outline-secondary:hover {
  background-color: #FFF3B0;
  border-color: #FFF3B0;
  color: #333333;
}

 /* Background color */
body {
  background-color: #E6F7FF; /* Very Light Gray */
}

/* Navbar color */
.navbar {
  background-color: #B2F1E6; /* Slightly darker shade of light blue */
}

.navbar-brand, .nav-link {
  color: #333333; /* Dark Gray for text */
}

.nav-link:hover {
  color: #000000; /* Black for hover */
}


/* Footer color */
footer {
  background-color: #FFF3B0; /* Slightly darker shade of light yellow */
  color: #333333; /* Dark Gray for text */
  padding: 10px 0;
  text-align: center;
}

footer a {
  color: #333333; /* Dark Gray for text */
  text-decoration: none;
}

footer a:hover {
  color: #000000; /* Black for hover */
  text-decoration: none;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #B2F1E6; /* Light Blue */
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333333; /* Dark Gray for text */
  display: block;
}

.sidebar a:hover {
  background-color: #FFF3B0; /* Light Yellow for hover */
  color: #000000; /* Black for hover */
}

.content {
  margin-left: 250px;
  padding: 20px;
}

/*dashboard*/
.status-button {
  margin-bottom: 10px; /* Adjust the value as needed */
}

/*Profile*/

/* Hide default 'No file chosen' text */
input[type="file"]::file-selector-button {
  display: none;
}

/* Optional: Style the custom file input button */
.form-control-file {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-align: center;
}

