<!-- templates/admin/edit_category.html -->
{% extends "base.html" %}

{% block title %}Muokkaa Kategoriaa{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Muokkaa Kategoriaa: {{ task.title }}</h2>
    <form method="POST" action="{{ url_for('admin.edit_category', task_id=task.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}