{% extends "base.html" %}

{% block title %}Apuri{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="page-header">
    <h1>Tervetuloa, {{ current_user.username }}!</h1>
</div>
{% endif %}

<!-- Tervetuloa-osio -->
<div class="welcome-card row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center bg-light-gradient">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-primary mb-4">Tervetuloa LapsiPerheApuriin!</h1>
      <p class="lead mb-4">
        Hei ja tervetuloa LapsiPerheApuriin - digitaaliseen apuriin, joka auttaa vanhempia pysymään ajan tasalla perheen pienimpien menoista ja tehtävistä! LapsiPerheApuri on suunniteltu helpottamaan vanhempien arkea tarjoamalla käytännöllisen työkalun pikkulasten tehtävien ja tapahtumien hallintaan.
      </p>
      <p class="lead fw-bold mb-3">Miten LapsiPerheApuri auttaa arjessa?</p>
      <ul class="list-unstyled mb-4">
        <li class="d-flex align-items-start mb-3">
          <span><strong>Tehtävälistat ja muistutukset:</strong> Seuraa helposti lapsen tulevia tapahtumia, kuten lääkärikäyntejä, harrastuksia ja muita tärkeitä menoja.</span>
        </li>
        <li class="d-flex align-items-start mb-3">
          <span><strong>Yhteistyötä lapsen kanssa:</strong> Yli 7-vuotias lapsi voi myös kirjautua sisään ja seurata omia tehtäviään ja muistettavia asioita itsenäisesti, turvallisesti ja helposti.</span>
        </li>
        <li class="d-flex align-items-start mb-3">
          <span><strong>Palaute ja kehitys:</strong> Kerro ajatuksesi ja parannusehdotuksesi suoraan sovelluksen kautta. Haluamme kehittää LapsiPerheApurista palvelun, joka palvelee parhaiten juuri teidän perheenne tarpeita!</span>
        </li>
      </ul>
      <p class="lead mb-4">
        LapsiPerheApuri on suunniteltu toimimaan vaivattomasti kaikilla laitteilla – voit käyttää sitä tietokoneella, puhelimella tai tabletilla. Sovellus on turvallinen, ja jokainen käyttäjä kirjautuu sisään omilla tiedoillaan.
      </p>
      <p class="lead mb-4">
        Liity mukaan helpottamaan arkeanne ja tutustu LapsiPerheApuriin jo tänään!
      </p>
      <div>
        <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="{{ url_for('auth.login') }}" role="button">Aloita tästä</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Lue lisää</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}