{% if current_user.is_authenticated %}
<div class="sidebar">
   <a href="{{ url_for('main.tasks') }}">
       <i class="fas fa-tasks"></i> Tulevat tehtävät
   </a>
   <a href="{{ url_for('main.user', username=current_user.username) }}">
       <i class="fas fa-user"></i> Profiili
   </a>
   <a href="{{ url_for('main.feedback') }}">
       <i class="fas fa-comment-dots"></i> Palaute
   </a>
   <a href="{{ url_for('auth.change_password') }}">
       <i class="fas fa-key"></i> Vaihda salasana
   </a>
   <a href="{{ url_for('auth.change_email_request') }}">
       <i class="fas fa-envelope"></i> Vaihda sähköposti
   </a>
   <a href="{{ url_for('auth.logout') }}">
       <i class="fas fa-sign-out-alt"></i> Kirjaudu ulos
   </a>
</div>
{% endif %}



