<!-- templates/tasks.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <!-- Tehtävät Card (Initially Hidden) -->
    <div id="tehtavat-card" class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-4 bg-light-gradient" style="display: none;">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
            <h2 class="display-4 fw-bold lh-1 welcome-text mb-4">Tehtävät</h2>
            <form method="POST" action="{{ url_for('main.tasks') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.member_name.label(class="form-label") }}  
                    {{ form.member_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.title.label(class="form-label") }}  
                    {{ form.title(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-label") }} 
                    {{ form.description(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.due_date.label(class="form-label") }} 
                    {{ form.due_date(class="form-control", type="date") }}
                </div>
                <div class="form-group">
                    {{ form.time.label(class="form-label") }}  
                    {{ form.time(class="form-control", type="time") }}
                </div>
                <div class="form-group">
                    {{ form.category.label(class="form-label") }}  
                    {{ form.category(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.status.label(class="form-label") }} 
                    {{ form.status(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}  
                </div>
            </form>
        </div>
    </div>
    <hr>
    <!-- Tehtävälista Card -->
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-4 bg-light-gradient">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="display-4 fw-bold lh-1 welcome-text">Tehtävälista</h3>
                <a href="#" id="show-tehtavat-card" class="btn btn-primary d-flex align-items-center">
                    <i class="fas fa-plus me-2"></i>
                    lisää uusi tehtävä
                </a>
            </div>  
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                    <h5><strong><u>{{ task.title }}</u></strong></h5>  
                    <p><strong>Jäsenen nimi:</strong> {{ task.member_name }}</p>  
                    <p><strong>Kuvaus:</strong> {{ task.description }}</p>  
                    <p><strong>Eräpäivä:</strong> {{ task.due_date }}</p>  
                    <p><strong>Aika:</strong> {{ task.time }}</p>  
                    <p><strong>Kategoria:</strong> {{ task.category }}</p>  
                    <p><strong>Tila:</strong> {{ task.status }}</p> 
                    <form method="POST" action="{{ url_for('main.update_task_status', task_id=task.task_id) }}">
                        <input type="hidden" name="status" value="{{ 'suoritettu' if task.status == 'odottaa' else 'odottaa' }}">
                        <button type="submit" 
                        class="btn {{ 'btn-success' if task.status == 'odottaa' else 'btn-warning' }} status-button">
                    {{ 'Merkitse suoritetuksi' if task.status == 'odottaa' else 'Merkitse odottavaksi' }}
                </button>
                    </form>
                    <a href="{{ url_for('main.edit_task', task_id=task.task_id) }}" class="btn btn-primary">Muokkaa</a>  
                    <form method="POST" action="{{ url_for('main.delete_task', task_id=task.task_id) }}" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Poista</button>  
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const showTehtavatCardButton = document.getElementById("show-tehtavat-card");
        const tehtavatCard = document.getElementById("tehtavat-card");

        showTehtavatCardButton.addEventListener("click", function(event) {
            event.preventDefault();
            tehtavatCard.style.display = "block";
            showTehtavatCardButton.style.display = "none";
        });
    });
</script>
{% endblock %}