{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>{{ user.username }}'s Profile</h2>
                </div>
                <div class="card-body text-center">
                    <!-- Display the profile picture, default if not uploaded -->
                    {% if user.profile_picture %}
                        <img src="{{ url_for('static', filename='profilepicture/' + user.profile_picture) }}" 
                             class="img-thumbnail" alt="Profile Picture" width="150" height="150">
                    {% else %}
                        <img src="{{ url_for('static', filename='default.png') }}" 
                             class="img-thumbnail" alt="Default Profile Picture" width="150" height="150">
                    {% endif %}

                    <p>
                        {% if user.name %}{{ user.name }}{% endif %}
                        {% if user.location %}
                            from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                        {% endif %}
                    </p>
                    
                    {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                    {% endif %}
                    
                    <p>Member since {{ moment(user.member_since).format('L') }}. 
                       Last seen {{ moment(user.last_seen).fromNow() }}.</p>
                    
                    <p>
                        {% if user == current_user %}
                        <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
